<%- include('partials/head.ejs') %>

<!--Header-->

<div class="header">
  <img src="./images/sus.png" width="100">  
  <div class="header-right">    
    <a class="active" href="#home">Principal</a>
    <a href="#contact">Buscar Paciente</a>
    <a href="#contact">Buscar Histórico</a>
    
    <a href="#">Bem vindo!</a>
  </div>
</div>
  

<div class="tabela">
  <h2> Lista de Internados </h2>
</div>


<%- include('partials/footer.ejs') %>