<%- include('partials/head.ejs') %>

<!--Header-->

<div class="header">
  <img src="./images/sus.png" width="100">  
  <div class="header-right">    
  </div>
</div>


<!--Form-->
<div class="formContainer">
<form action="/" method="post">
  <h2>Login de usuário</h2>
  <h3 class="msgErro"><%-data %></h3>
  <label for="lbl_usuario">Usuário</label>
  <input type="text" id="lbl_usuario" class="defaultInput" name="usuario">
  <label for="lbl_senha">Senha</label>
  <input type="password" id="lbl_senha" class="defaultInput" name="senha"> 
  <button type="submit" class="defaultButton">Entrar</button>
  <br>
  <a href="/cadFunc">Cadastrar novo usuário</a>  
</form>
</div>

<%- include('partials/footer.ejs') %>